.my-cor-header{
    background-color: #f6e317;
}
.icone-lupa{
    height: 20px;
}
.logomarca{
    border-radius: 100%;
    height: 70px;
}
.my-cor-azul-txt{
    color: #3b1bdd;
    text-decoration: none;
}
.compras-scroll{
    width: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}